{{"<!-- Events Section -->" | safeHTML}}
<section id="events">
    <p>
        <div class="row">
            <div class="col-10 mb-3">
                <h2>Termine</h2>
            </div>
            <div class="post-content">
                <dl>
                    <dt><b><a href="https://www.eventbrite.at/e/coderdojo-tulln-at-hak-registrierung-622290506657">CoderDojo Tulln</a></b></dt>
                    <dd>26. Mai 2023, HAK Tulln, Donaulände 64, 3430 Tulln, <a href="https://www.eventbrite.at/e/coderdojo-tulln-at-hak-registrierung-622290506657">Anmeldung</a> </dd>

                    <dt><b><a href="https://www.eventbrite.at/e/coderdojo-wien-at-verbund-am-26523-registrierung-627562445167">CoderDojo Wien</a></b></dt>
                    <dd>26. Mai 2023, Verbund, Am Hof 6a, 1010 Wien, <a href="https://www.eventbrite.at/e/coderdojo-tulln-at-hak-registrierung-622290506657">Anmeldung</a></dd>
                </dl>
            </div>
        </div>
    </p>
    <br />
</section>