{{"<!-- Events Section -->" | safeHTML}}
<section id="events">
    <div class="post-content">
        <h2>Termine</h2>
            <dl>
              {{ $events := $.Site.Data.events }} {{ range $events }}
              <dt itemprop="event" itemscope itemtype="https://schema.org/Event">
                <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
                <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                <meta itemprop="name" content="{{ .eventname }}" />
                <meta itemprop="startDate" content="{{ .startdate }}" />
                <meta itemprop="endDate" content="{{ .enddate }}" />
                <meta itemprop="description" content="CoderDojo bietet Kindern im Alter von 8 bis 17 Jahren eine kostenlose, sichere und unterhaltsame Umgebung, um das Programmieren zu lernen. CoderDojo gibt Kindern die Möglichkeit, die Technologie zu entdecken und zu verstehen, die unsere Welt prägt." />
                <div hidden  itemprop="location" itemscope itemtype="http://schema.org/Place">
                    {{ with .location }}<meta itemprop="name" content="{{ . }}" />{{ end }}
                    {{ with .address }}<meta itemprop="address" content="{{ . }}" />{{ end }}
                </div>
                <div hidden itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <meta  itemprop="name" content="{{ .organizer }}" />
                  <meta  itemprop="url" content="{{ .organizerurl }}" />
                </div>
                <div hidden itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="availability" content="LimitedAvailability" />
                  <meta itemprop="price" content="0" />
                  <meta itemprop="priceCurrency" content="EUR" />                  
                  {{ with .sessionlink }}<meta  itemprop="url" content="{{ . }}" />{{ end }}
                </div>
                {{ with .image }}<meta itemprop="image" content="{{ . }}" />{{ end }}
                <b>
                    {{ .startdate | time.Format ":date_long" }}
                    {{ with .eventlink }}<a href="{{ . }}" target="_blank">{{ end }}
                    <span itemprop="name">{{ .eventname }}</span>
                    {{ with .eventlink }}</a>{{ end }}
                </b>
                {{ with .sessionlink }}
                <meta itemprop="url" content="{{ . }}" />
                {{ end }}
              </dt>
              <dd>
                {{ .startdate | time.Format ":time_short" }} bis {{ .enddate | time.Format ":time_short" }}
                <br />
                {{ with .location }}{{ . }}{{ end }}, {{ with .address }}{{ . }}<br/>{{ end }}
                {{ with .sessionlink }}<a href="{{ . }}" target="_blank">{{ end }}
                {{ .sessionname }}
                {{ with .sessionlink }}</a>{{ end }}  
              </dd>
              <br />
            </span>
              {{ end }}
            </dl>
        </div>
    <br />
</section>

