    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <h4>Bankverbindung</h4> 
                <p>
                    Erste Bank<br /> 
                    IBAN: AT68 2011 1846 3821 0300<br /> 
                    BIC: GIBAATWWXXX<br />
                </p>
            </div>
            <div class="col-12 col-md-6 text-center">
                <h4>PayPal</h4>
                <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="XDLF6QQ7QJWGC" />
                    <input type="image" src="https://www.paypalobjects.com/de_DE/AT/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
                    <img alt="" border="0" src="https://www.paypal.com/de_AT/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                                </div>
        </div>
    </div>
